<section
  class="hero-section bg-cover bg-center relative flex flex-col md:flex-row"
>
  <div
    class="left-column flex flex-col justify-center p-8 bg-cover bg-no-repeat"
    style="
      background-image: url('./img/img_2.jpg');
    "
  >

    <!-- <div class="text flex flex-col gap-3">
      <h1>Вікторія Гонч</h1>
      <p class="mt-4">ТЕТА ХІЛЕР | НУМЕРОЛОГ | Блогер</p>
    </div> -->
  </div>
  <div class="right-column flex items-center justify-center">

    <img
    width="20px"
    src="./logo.svg"
    alt="Фото"
    class="logo"
  />
  </div>

  <a class="primary-button to-matrix" href="#про-мене">Читати далі</a>
</section>
