<section id="calculator" class="section-2">
  <div class="border-line"></div>
  <div class="div-block-2">
    <div class="embeded-iframe w-embed w-iframe">
      <iframe
        src="https://4sv-by.github.io/destiny-calculator/"
        frameborder="0"
        style="overflow: hidden; height: 100%; width: 100%"
        height="auto"
        width="100%"
      ></iframe>
      <style>
        .embeded-iframe {
          height: 1790px;
        }

        @media (max-width: 1346px) {
          .embeded-iframe {
            height: 1790px;
          }
        }

        @media (max-width: 1009px) {
          .embeded-iframe {
            height: 1630px;
          }
        }

        @media (max-width: 784px) {
          .embeded-iframe {
            height: 2130px;
          }
        }

        @media (max-width: 450px) {
          .embeded-iframe {
            height: 1945px;
          }
        }

        @media (max-width: 425px) {
          .embeded-iframe {
            height: 1870px;
          }
        }

        @media (max-width: 359px) {
          .embeded-iframe {
            height: 1820px;
          }
        }
      </style>
    </div>
  </div>
</section>
